@import url('https://fonts.googleapis.com/css2?family=Faster+One&family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Faster+One&family=Patrick+Hand&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');

/* Enkel CSS-reset */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}

/* Layouten */
body {
    background-color: black;
}
.kontainer {
    font-family: "Roboto Serif", serif;
    width: 800px;
    margin: auto;
    padding: 40px;
    background-color: #E7DEF4;

}
.kolumner {
    display: flex;
    gap: 40px;
}
.bild {
    background-color: #5A5A5A;
    color: #fff;
    padding: 20px;
    margin-bottom: 30px;
    display: flex;
    gap: 20px;
    border-radius: 10px;
}

/* Rubrikerna */
h1 {
    font-family: "Faster One", system-ui;
    font-size: 75px;
}
h2 {
    margin-top: 20px;
    margin-bottom: 20px;d
}

/* Sidans innehåll */
img {
    width: 100px;
    border: white, solid 5px;
    border-radius: 7px;
}
.bildtext {

}
.thanks {

}
a {

}